/* 
    Created on : 20-ene-2015, 10:04:49
    Author     : KarDan91
*/
.logo{
    width: 75px; 
    height: 50px;
}

.derecha{
    float: right;
    text-align: right;
}

.izquierda{
    float: left;
    text-align: right;
}

.text-rotation {
    display: block; 
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
}