body {
    font-size: small;
    font-family: Verdana, Arial, lucida, "Helvetica CE", sans-serif;
    margin: 10px;
    color: #445555;
}

#top {
    position: relative;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    text-align: center;
}

.center_content {
    position: relative;
    padding: 5px;
    min-height: 250px;
}

a:link{
    color: #453821;
	text-decoration: none;
}

a:visited{
	color: #453821;
	text-decoration: none;
}

a:hover{
	color: #F00000;
	text-decoration: underline;
}
li.ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    background: #81230D;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
    color: #ffffff;
}
.login{
    color: black;
    width: 85%;
}

.frm_centrado{
    margin: 0 auto;
}
.franja_izq{
    background-color: #81230D;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 15%;
}

.tabla_inicial{
    height: 450px;
    width: 100%;
}

.buscar{
    margin-left: 20%;
    margin-right: 20%;
}

.permisos{
    margin-left: 3%;
    margin-right: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.cambiocon{
    margin-left: 5%;
    margin-right: 5%;
}
/*.modificar{
    margin-left: 28%;
    margin-right: 12%;
    text-align: center;
}

.consul{
    margin-left: 2%;
    margin-right: 2%;
}*/

.bordes{
    border-color: black;
}

#imagen{
    margin: 0 auto;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border-color: black;
}

.centrado_texto{
    text-align: center;
}

.textover{
    vertical-align: middle;
}
/*.footer{
    padding-top: 10px;
    margin-top: 20px;
    background-color: white;
}*/

negrita{
    font-weight: bold;
}

.negrita.pie{
    font-size: 10px;
}

table{
    margin: 0 auto;
}

.mensaje{
    font-weight: bold;
}

.encabezados{
    font-size: 20px;
}

.centraTituIndex{
    margin-left:15%; 
    text-align: center;
}

.espacio-celda{
    white-space: nowrap;
    width:1px;
}

.ui-panelgrid .ui-panelgrid-cell{
    border-color:darkgray;
}

.igualaTablas{
    margin: 0 auto;
    width: 80%;
}

.fondoGris{
    background-color: gainsboro;
}

.textoArriba{
    vertical-align: top;
}

.ancho{
    width: 320px;
}

/*Menu*/
div.menu{
    text-align: left;
}
.menu div.ui-menubar {
}
.menu .ui-menu-list{
    width:100%;
    display: inline-flex;
}
div.menu>ul.ui-menu-list>li>a{
}
div.menu>ul.ui-menu-list>li{
    width: 100%;
}
.ui-menubar > .ui-menu-list > .ui-menuitem > .ui-menuitem-link span.ui-icon-triangle-1-s{
    float: right;
}
.ui-menu .ui-menuitem-text{
    float: none;
}
/*Mayusculas*/
input{text-transform: uppercase;}

.centrar{
    text-align: center;
    margin: 0 auto;
}

html,body{
    height:95%;
}
 
#page-wrap{
    margin: auto;
    height: auto;
    min-height:100%;
}
 
#page-wrap:after{
    width: 100%;
    display:block;
    clear:both;
}
 
#bottom{
}

.dia1{
    color: red;
}

.columnachica{
    width: 4%;
}

.columnamed{
    width: 8%;
}

.columnamed2{
    width: 5%;
}

.columnamed3{
    width: 9%;
}

.columnamed4{
    width: 20%;
}

.mostrarbtn{
    display: none;
}

.margen{
    padding-top: 10px;
}

.columnamed10{
    width: 12%;
}

.columnamed7{
    width: 7%;
}

.columnamed15{
    width:25%;
}

.columnadiez{
    width: 10%;
}

.textoIzq{
    text-align: left;
}

.requerido{
    color: #FF0000;
}

.msjnormal{
    font-weight: normal;
}

.msjrequerido{
    float: left;
}

.mayusculas{
    text-transform:uppercase;
}

.todo{
    width: 100%;
}

.tabla{
    float: left;
    width: 70%;
}

.imgts{
    float: right;
    width: 30%;
}

/* Solo muestra la imagen, nombre y tamaño del archivo a subir para p:fileUpload */
.fileUploader-noProgressBar .ui-fileupload-progress
{
    display: none;
}

.fileUploader-noCancelFile .ui-fileupload-files td:last-child
{
    display: none;
    visibility: hidden;
}