body {margin-top: 0px;margin-left: 0px;}

#page_1 {overflow: hidden;z-index: 0;}

#page_1 #dimg1 {position:absolute;z-index:-1;width:785px;height:1330px;}
#page_1 #dimg1 #img1 {width:785px;height:1330px;}

#page_2 {overflow: hidden;margin-top: 1340px;z-index: 0;}

#page_2 #dimg1 {position:absolute;z-index:-1;width:785px;height:1305px;}
#page_2 #dimg1 #img1 {width:785px;height:1290px;}

#page_3 {position:absolute; overflow: hidden;margin: 6px 0px 34px 20px;padding: 0px;border: none;width: 760px; z-index: 1; width: 739px;height: 1242px;}

#page_4 {position:absolute; overflow: hidden;margin: 1268px 0px 53px 21px;padding: 0px;border: none;width: 759px; z-index: 1;height: 1230px;}


.divFolCode{float: right;}
.folioCode{margin-top: 7px; margin-bottom:0px; margin-right: 0px; letter-spacing: 1.1em; font: bold 11px 'Arial';}

.divClues{float: right; margin-top: -1.9em; clear: right; clear: left; margin-right: .78em; margin-bottom: -10px;}
.cluesEdo{font: bold 11px 'Arial'; letter-spacing: 0.5em; margin-right: 3.6em;}
.cluesCon{font: bold 11px 'Arial'; letter-spacing: 0.58em; margin-right: .5em;}
.cluesVer{font: bold 11px 'Arial'; margin-right: 2px;}

.hospital{clear: right; clear: left; font: bold 11px 'Arial'; margin-top:4.8em; margin-bottom:0; margin-left: 13em;}

.divNombres{margin-left: 7em; margin-right: 2em;}
.apPaterno{font: bold 9px 'Arial'; letter-spacing: 0.1em;}
.apMaterno{font: bold 9px 'Arial'; letter-spacing: 0.1em;}
.nombres{font: bold 9px 'Arial'; letter-spacing: 0.1em;}
.tNombres{width: 84.5%; margin-left: 6.5em; margin-right: 2em; margin-bottom: -5px;margin-top: 1px;}
.tNombres .nom{width: 33%; text-align: center;}
.tTabla{width: 90%; margin-left: 3em; margin-right: 2em; margin-bottom: -18px; font: bold 11px 'Arial'; letter-spacing: 0.4em;}
.tTabla tr.tn1{width: 20px;}
.tTabla .sCol1{width: 315px;}
.tTabla .sCol2{width: 20px;}
.tTabla .sCol3{width: 130px;}
.tTabla .sCol4{width: 50px;}
.tTabla .sCol5{width: 10px;}
.tTabla .sCol6{width: 10px;}
.tTabla .sCol7{width: 10px;}
.tTabla tr.tn2{margin-top: -10px;}

#sexoPac{position:absolute; overflow: hidden; margin-top: 31px; margin-left: 24.2em; font: bold 11px 'Arial'; z-index: 3;}
#sexoPac p{margin-bottom: 3px; margin-top: 0;}

#tapePac{position:absolute; overflow: hidden; margin-top: 17px; margin-left: 32.4em; font: bold 11px 'Arial'; letter-spacing: 0.6em; z-index: 4;}
#tapePac p{margin-bottom: 17px; margin-top: 0;}

#edadPac{position:absolute; overflow: hidden; margin-top: 38px; margin-left: 4.9em; font: bold 11px 'Arial'; letter-spacing: 0.5em; z-index: 5;}
#edadPac p.ehoras{margin-bottom: 0px; margin-top: 0px;}
#edadPac p.edias{margin-bottom: 0px; margin-top: 12px;}
#edadPac p.emeses{margin-bottom: 0px; margin-top: 7px;}
#edadPac p.eanios{margin-bottom: 0px; margin-top: 9px; margin-left: 3px;}

#nacH1Pac{position:absolute; overflow: hidden; margin-top: 146px; margin-left: 6.3em; font: bold 11px 'Arial'; letter-spacing: 0.3em; z-index: 5;}

#nacH2Pac{position:absolute; overflow: hidden; margin-top: 146px; margin-left: 12.5em; font: bold 11px 'Arial'; letter-spacing: 0.3em; z-index: 5;}

#dere1Pac{position:absolute; overflow: hidden; margin-top: 86px; margin-left: 24.6em; font: bold 11px 'Arial'; letter-spacing: 0.3em; z-index: 6;}
#dere1Pac p{margin-bottom: 3px; margin-top: 0;}
#dere2Pac{position:absolute; overflow: hidden; margin-top: 86px; margin-left: 36.5em; font: bold 11px 'Arial'; letter-spacing: 0.3em; z-index: 6;}
#dere2Pac p{margin-bottom: 3px; margin-top: 0;}

#res1Pac{position:absolute; overflow: hidden; margin-top: 16px; margin-left: 42.8em; font: bold 11px 'Arial'; z-index: 4;}
#res1Pac p{margin-bottom: 17px; margin-top: 0;}
#res1Pac p.numSP{margin-bottom: 18px; margin-top: 0; margin-left: 6em;letter-spacing: 0.6em;}
#res1Pac p.entP{font: bold 8px 'Arial';margin-bottom: 14px; margin-top: 10px;}
#res1Pac p.munP{font: bold 8px 'Arial';margin-bottom: 16px; margin-top: 10px;margin-left:6px;}
#res1Pac p.locP{font: bold 8px 'Arial';margin-bottom: 15px; margin-top: 10px;margin-left:8px;}
#res1Pac p.expP{margin-bottom: 15px; margin-top: 0; margin-left: 1.9em;letter-spacing: 0.61em;}
#res1Pac p.curpP{margin-bottom: 10px; margin-top: 0; margin-left: .3em;letter-spacing: 0.52em;}

#res2Pac{position:absolute; overflow: hidden; margin-top: 16px; margin-left: 55.8em; font: bold 11px 'Arial'; z-index: 5;}
#res2Pac p{margin-bottom: 17px; margin-top: 0;}
#res2Pac p.numSP{margin-bottom: 14px; margin-top: 0; margin-left: 5.5em;letter-spacing: 0.55em;}
#res2Pac p.entP{margin-bottom: 13px; margin-top: 0; margin-left: 7.7em;letter-spacing: 0.6em;}
#res2Pac p.munP{margin-bottom: 13px; margin-top: 0; margin-left: 6.4em;letter-spacing: 0.6em;}
#res2Pac p.locP{margin-bottom: 15px; margin-top: 0; margin-left: 5.5em;letter-spacing: 0.6em;}

#per1GruInd{position:absolute; overflow: hidden; margin-top: 206px; margin-left: 7.1em; font: bold 11px 'Arial';z-index: 5;}
#per1GruInd p{margin-top: 0px;margin-bottom: 8px;}
#per2GruInd{position:absolute; overflow: hidden; margin-top: 206px; margin-left: 16.1em; font: bold 11px 'Arial';z-index: 5;}
#per2GruInd p{margin-top: 0px;margin-bottom: 8px;}
#per2GruInd p.nosa{margin-top: 0px;margin-bottom: 8px; margin-left: 2px;}

#hab1GruInd{position:absolute; overflow: hidden; margin-top: 213px; margin-left: 24.9em; font: bold 11px 'Arial';z-index: 5;}
#hab1GruInd p{margin-top: 0px;margin-bottom: 3px;}
#hab2GruInd{position:absolute; overflow: hidden; margin-top: 213px; margin-left: 35em; font: bold 11px 'Arial';z-index: 5;}
#hab2GruInd p{margin-top: 0px;margin-bottom: 3px;}

#claLenInd{position:absolute; overflow: hidden; margin-top: 211px; margin-left: 43.7em; font: bold 11px 'Arial';z-index: 5;}
#claLenInd p{margin-top: 0px;margin-bottom: 3px; letter-spacing: 0.5em;}

#hab1Esp{position:absolute; overflow: hidden; margin-top: 202px; margin-left: 54.3em; font: bold 11px 'Arial';z-index: 5;}
#hab1Esp p{margin-top: 0px;margin-bottom: 6px;}
#hab2Esp{position:absolute; overflow: hidden; margin-top: 202px; margin-left: 64.3em; font: bold 11px 'Arial';z-index: 5;}
#hab2Esp p{margin-top: 0px;margin-bottom: 6px;}

#fecIng{position:absolute; overflow: hidden; margin-top: 266px; margin-left: 9.1em; font: bold 11px 'Arial';z-index: 5;}
#fecIng p{margin-top: 10px;margin-bottom: 0px;letter-spacing: 0.86em;}

#fecAlt{position:absolute; overflow: hidden; margin-top: 295px; margin-left: 9.1em; font: bold 11px 'Arial';z-index: 5;}
#fecAlt p{margin-top: 10px;margin-bottom: 0px;letter-spacing: 0.86em;}

#estNor{position:absolute; overflow: hidden; margin-top: 297px; margin-left: 29.8em; font: bold 11px 'Arial';z-index: 5;}
#estNor p{margin-top: 0px;margin-bottom: 6px;}
#estCor{position:absolute; overflow: hidden; margin-top: 329px; margin-left: 24.7em; font: bold 11px 'Arial';z-index: 5;}
#estCor p{margin-top: 0px;margin-bottom: 6px;}

#nomSer{position:absolute; overflow: hidden; margin-top: 278px; margin-left: 52.8em; font: bold 8px 'Arial';z-index: 5;}
#nomSer p{margin-top: 0px;margin-bottom: 6px;}

#claSer{position:absolute; overflow: hidden; margin-top: 276px; margin-left: 61.7em; font: bold 11px 'Arial';z-index: 5;}
#claSer p{margin-top: 0px;margin-bottom: 2px;letter-spacing: 0.85em;}

#serApo{position:absolute; overflow: hidden; margin-top: 356px; margin-left: 17.4em; font: bold 11px 'Arial'; letter-spacing: 0.6em; z-index: 5;}
#serApo p.salLab{margin-bottom: 3px; margin-top: 0px;margin-left: 1.3em;}
#serApo p.salExp{margin-bottom: 2px; margin-top: 1px;margin-left: 1.3em;}
#serApo p.salRec{margin-bottom: 0px; margin-top: 2px;margin-left: 1.3em;}
#serApo p.terInt{margin-bottom: 0px; margin-top: 2px; margin-left: 3px;}
#serApo p.terInte{margin-bottom: 0px; margin-top: 3px; margin-left: 3px;}

#espIns1{position:absolute; overflow: hidden; margin-top: 398px; margin-left: 41.8em; font: bold 8px 'Arial'; z-index: 5;}
#espIns1 p{margin-bottom: 0px; margin-top: 0px;}

#proc{position:absolute; overflow: hidden; margin-top: 360px; margin-left: 40.6em; font: bold 11px 'Arial';z-index: 5;}
#proc p.con{margin-bottom: 0px; margin-top: 0px;}
#proc p.urg{margin-bottom: 0px; margin-top: 5px;}
#proc p.ref{margin-bottom: 0px; margin-top: 5px;}
#proc p.otro{margin-bottom: 0px; margin-top: 7px;}

#espIns2{position:absolute; overflow: hidden; margin-top: 370px; margin-left: 70em; font: bold 11px 'Arial'; z-index: 5;}
#espIns2 p{margin-bottom: 0px; margin-top: 0px;}

#motEgreso{position:absolute; overflow: hidden; margin-top: 395px; margin-left: 49.4em; font: bold 11px 'Arial';z-index: 5;}
#motEgreso p.cur{margin-bottom: 0px; margin-top: 3px;}
#motEgreso p.mej{margin-bottom: 0px; margin-top: 4px;}

#motEgre{position:absolute; overflow: hidden; margin-top: 339px; margin-left: 65.1em; font: bold 11px 'Arial';z-index: 5;}
#motEgre p.vol{margin-bottom: 15px; margin-top: 3px;}
#motEgre p.pase{margin-bottom: 15px; margin-top: 3px;}
#motEgre p.def{margin-bottom: 6px; margin-top: 3px;}
#motEgre p.otro{margin-bottom: 15px; margin-top: 3px;}

#afeTra{position:absolute; overflow: hidden; margin-top: 445px; margin-left: 10.3em;margin-right:9em;font: bold 8px 'Arial';z-index: 5;}
#afeTra p.afePrin{margin-left: 9em; margin-bottom: 10px; margin-top: 5px;}
#afeTra p.afePri{margin-left: 2em;margin-bottom: 8px; margin-top: 3px;}
#afeTra p.afeSeg{margin-left: 2em;margin-bottom: 8px; margin-top: 3px;}
#afeTra p.afeTer{margin-left: 2em;margin-bottom: 7px; margin-top: 3px;}
#afeTra p.afeCua{margin-left: 2em;margin-bottom: 7px; margin-top: 3px;}
#afeTra p.afeQui{margin-left: 2em;margin-bottom: 7px; margin-top: 9px;}
#afeTra p.afeSex{margin-left: 2em;margin-bottom: 5px; margin-top: 7px;}

#claAfeTra{position:absolute; overflow: hidden; margin-top: 440px; margin-left: 59.5em; font: bold 11px 'Arial';letter-spacing: 0.6em;z-index: 5;}
#claAfeTra p.afePrin{margin-left: 2em; margin-bottom: 7px; margin-top: 3px;}
#claAfeTra p.afePri{margin-left: 2em;margin-bottom: 6px; margin-top: 3px;}
#claAfeTra p.afeSeg{margin-left: 2em;margin-bottom: 4px; margin-top: 3px;}
#claAfeTra p.afeTer{margin-left: 2em;margin-bottom: 7px; margin-top: 3px;}
#claAfeTra p.afeCua{margin-left: 2em;margin-bottom: 5px; margin-top: 3px;}
#claAfeTra p.afeQui{margin-left: 2em;margin-bottom: 4px; margin-top: 3px;}
#claAfeTra p.afeSex{margin-left: 2em;margin-bottom: 7px; margin-top: 3px;}
#claAfeTra p.resAfe{margin-left: 2em;margin-bottom: 5px; margin-top: 3px;}

#afePriSub{position:absolute; overflow: hidden; margin-top: 565px; margin-left: 9.2em; font: bold 11px 'Arial';letter-spacing: 0.6em;z-index: 5;}
#afePriSub p.afePv{margin-left: 1.8em; margin-bottom: 4px; margin-top: 3px;}
#afePriSub p.afeSu{margin-left: 9.7em;margin-bottom: 6px; margin-top: 3px;}

#infInt{position:absolute; overflow: hidden; margin-top: 585px; margin-left: 20em; font: bold 11px 'Arial';letter-spacing: 0.6em;z-index: 5;}
#infInt p.intS{margin-left: 1.8em; margin-bottom: 4px; margin-top: 3px;}
#infInt p.intN{margin-left: 7.3em;margin-bottom: 6px; margin-top: 3px;}

#procedimientos{position:absolute; overflow: hidden; margin-top: 642px; margin-left: 8em; font: bold 8px 'Arial';z-index: 5; }
#procedimientos p.proc1{margin-bottom: 10px; margin-top: 3px;}
#procedimientos p.proc2{margin-bottom: 10px; margin-top: 3px;}
#procedimientos p.proc3{margin-bottom: 10px; margin-top: 3px;}
#procedimientos p.proc4{margin-bottom: 10px; margin-top: 3px;}
#procedimientos p.proc5{margin-bottom: 10px; margin-top: 3px;}
#procedimientos p.proc6{margin-bottom: 10px; margin-top: 3px;}
#procedimientos p.proc7{margin-bottom: 10px; margin-top: 3px;}
#procedimientos p.proc8{margin-bottom: 5px; margin-top: 3px;}

#procedimientosAnes{position:absolute; overflow: hidden; margin-top: 639px; margin-left: 41.5em; font: bold 11px 'Arial';z-index: 5;}
#procedimientosAnes p.proc1{margin-bottom: 6px; margin-top: 3px;}
#procedimientosAnes p.proc2{margin-bottom: 6px; margin-top: 3px;}
#procedimientosAnes p.proc3{margin-bottom: 7px; margin-top: 3px;}
#procedimientosAnes p.proc4{margin-bottom: 8px; margin-top: 3px;}
#procedimientosAnes p.proc5{margin-bottom: 5px; margin-top: 3px;}
#procedimientosAnes p.proc6{margin-bottom: 7px; margin-top: 3px;}
#procedimientosAnes p.proc7{margin-bottom: 8px; margin-top: 3px;}
#procedimientosAnes p.proc8{margin-bottom: 5px; margin-top: 3px;}

#procedimientosQE{position:absolute; overflow: hidden; margin-top: 639px; margin-left: 45em; font: bold 11px 'Arial';z-index: 5;}
#procedimientosQE p.proc1{margin-bottom: 6px; margin-top: 3px;}
#procedimientosQE p.proc2{margin-bottom: 6px; margin-top: 3px;}
#procedimientosQE p.proc3{margin-bottom: 7px; margin-top: 3px;}
#procedimientosQE p.proc4{margin-bottom: 8px; margin-top: 3px;}
#procedimientosQE p.proc5{margin-bottom: 5px; margin-top: 3px;}
#procedimientosQE p.proc6{margin-bottom: 7px; margin-top: 3px;}
#procedimientosQE p.proc7{margin-bottom: 8px; margin-top: 3px;}
#procedimientosQE p.proc8{margin-bottom: 5px; margin-top: 3px;}

#procedimientosTi{position:absolute; overflow: hidden; margin-top: 639px; margin-left: 47em; font: bold 11px 'Arial';z-index: 5;}
#procedimientosTi p.proc1{margin-bottom: 6px; margin-top: 3px;}
#procedimientosTi p.proc2{margin-bottom: 6px; margin-top: 3px;}
#procedimientosTi p.proc3{margin-bottom: 7px; margin-top: 3px;}
#procedimientosTi p.proc4{margin-bottom: 8px; margin-top: 3px;}
#procedimientosTi p.proc5{margin-bottom: 5px; margin-top: 3px;}
#procedimientosTi p.proc6{margin-bottom: 7px; margin-top: 3px;}
#procedimientosTi p.proc7{margin-bottom: 8px; margin-top: 3px;}
#procedimientosTi p.proc8{margin-bottom: 5px; margin-top: 3px;}

#procedimientosQF{position:absolute; overflow: hidden; margin-top: 639px; margin-left: 51.3em; font: bold 11px 'Arial';z-index: 5;}
#procedimientosQF p.proc1{margin-bottom: 6px; margin-top: 3px;}
#procedimientosQF p.proc2{margin-bottom: 6px; margin-top: 3px;}
#procedimientosQF p.proc3{margin-bottom: 7px; margin-top: 3px;}
#procedimientosQF p.proc4{margin-bottom: 8px; margin-top: 3px;}
#procedimientosQF p.proc5{margin-bottom: 5px; margin-top: 3px;}
#procedimientosQF p.proc6{margin-bottom: 7px; margin-top: 3px;}
#procedimientosQF p.proc7{margin-bottom: 8px; margin-top: 3px;}
#procedimientosQF p.proc8{margin-bottom: 5px; margin-top: 3px;}

#procedimientosMC{position:absolute; overflow: hidden; margin-top: 639px; margin-left: 54em; font: bold 11px 'Arial';z-index: 5;}
#procedimientosMC p.proc1{margin-bottom: 6px; margin-top: 3px;}
#procedimientosMC p.proc2{margin-bottom: 6px; margin-top: 3px;}
#procedimientosMC p.proc3{margin-bottom: 7px; margin-top: 3px;}
#procedimientosMC p.proc4{margin-bottom: 8px; margin-top: 3px;}
#procedimientosMC p.proc5{margin-bottom: 5px; margin-top: 3px;}
#procedimientosMC p.proc6{margin-bottom: 7px; margin-top: 3px;}
#procedimientosMC p.proc7{margin-bottom: 8px; margin-top: 3px;}
#procedimientosMC p.proc8{margin-bottom: 5px; margin-top: 3px;}

#procedimientosCIE9{position:absolute; overflow: hidden; margin-top: 635px; margin-left: 61.5em; font: bold 11px 'Arial';letter-spacing: 0.55em;z-index: 5;}
#procedimientosCIE9 p.proc1{margin-bottom: 7px; margin-top: 3px;}
#procedimientosCIE9 p.proc2{margin-bottom: 6px; margin-top: 3px;}
#procedimientosCIE9 p.proc3{margin-bottom: 7px; margin-top: 3px;}
#procedimientosCIE9 p.proc4{margin-bottom: 8px; margin-top: 3px;}
#procedimientosCIE9 p.proc5{margin-bottom: 7px; margin-top: 3px;}
#procedimientosCIE9 p.proc6{margin-bottom: 7px; margin-top: 3px;}
#procedimientosCIE9 p.proc7{margin-bottom: 8px; margin-top: 3px;}
#procedimientosCIE9 p.proc8{margin-bottom: 5px; margin-top: 3px;}

#minisPub{position:absolute; overflow: hidden; margin-top: 830px; margin-left: 15.2em; font: bold 11px 'Arial';z-index: 5;}
#minisPub p.miniS{margin-bottom: 0px; margin-top: 0px;}
#minisPub p.miniN{margin-left:  4.45em;margin-bottom: 0px; margin-top: 0px;}

#cerDefun{position:absolute; overflow: hidden; margin-top: 830px; margin-left: 40.4em; font: bold 11px 'Arial';letter-spacing: 0.6em;z-index: 5;}
#cerDefun p{margin-bottom: 0px; margin-top: 0px;}

#afeDefuncion{position:absolute; overflow: hidden; margin-top: 845px; margin-left: 10.5em;margin-right: 21.5em;font: bold 8px 'Arial';z-index: 5;}
#afeDefuncion p.defunA{margin-bottom: 8.5px; margin-top: 5px;}
#afeDefuncion p.defunB{margin-bottom: 9px; margin-top: 3px;}
#afeDefuncion p.defunC{margin-bottom: 11px; margin-top: 3px;}
#afeDefuncion p.defunD{margin-bottom: 9px; margin-top: 3px;}
#afeDefuncion p.defunE{margin-bottom: 9px; margin-top: 3px;}
#afeDefuncion p.defunF{margin-bottom: 7px; margin-top: 3px;}

#tiemDefuncion{position:absolute; overflow: hidden; margin-top: 845px; margin-left: 72em; font: bold 8px 'Arial';z-index: 5;}
#tiemDefuncion p.defunA{margin-bottom: 8.5px; margin-top: 3px;}
#tiemDefuncion p.defunB{margin-bottom: 9px; margin-top: 3px;}
#tiemDefuncion p.defunC{margin-bottom: 11px; margin-top: 3px;}
#tiemDefuncion p.defunD{margin-bottom: 9px; margin-top: 3px;}
#tiemDefuncion p.defunE{margin-bottom: 9px; margin-top: 3px;}
#tiemDefuncion p.defunF{margin-bottom: 7px; margin-top: 3px;}

#claveDefuncion{position:absolute; overflow: hidden; margin-top: 840px; margin-left: 61.75em; font: bold 11px 'Arial';letter-spacing: 0.5em;z-index: 5;}
#claveDefuncion p.defunA{margin-bottom: 6px; margin-top: 3px;}
#claveDefuncion p.defunB{margin-bottom: 6px; margin-top: 3px;}
#claveDefuncion p.defunC{margin-bottom: 5px; margin-top: 3px;}
#claveDefuncion p.defunD{margin-bottom: 6px; margin-top: 3px;}
#claveDefuncion p.defunE{margin-bottom: 7px; margin-top: 3px;}
#claveDefuncion p.defunF{margin-bottom: 6px; margin-top: 3px;}
#claveDefuncion p.defunR{margin-bottom: 7px; margin-top: 3px;}

#numGPA{position:absolute; overflow: hidden; margin-top: 980px; margin-left: 9.8em; font: bold 11px 'Arial';letter-spacing: 0.55em;z-index: 5;}
#numGPA p.nGes{margin-bottom: 1px; margin-top: 0px;}
#numGPA p.nPar{margin-bottom: 1px; margin-top: 0px;}
#numGPA p.nAbo{margin-bottom: 2px; margin-top: 0px;}

#extExp{position:absolute; overflow: hidden; margin-top: 994px; margin-left: 15.3em; font: bold 11px 'Arial';z-index: 5;}
#extExp p.exS{margin-bottom: 3px; margin-top: 0px;}
#extExp p.exN{margin-bottom: 3px; margin-top: 0px;}

#tipoAtn{position:absolute; overflow: hidden; margin-top: 994px; margin-left: 23.5em; font: bold 11px 'Arial';z-index: 5;}
#tipoAtn p.atnP{margin-bottom: 0px; margin-top: 0px;}
#tipoAtn p.atnA{margin-bottom: 3px; margin-top: 0px;}

#semGes{position:absolute; overflow: hidden; margin-top: 1005px; margin-left: 26.85em; font: bold 11px 'Arial';z-index: 5;}
#semGes p{margin-bottom: 0px; margin-top: 0px; letter-spacing: 0.5em;}

#conProd{position:absolute; overflow: hidden; margin-top: 988px; margin-left: 37em; font: bold 11px 'Arial';z-index: 5;}
#conProd p.cPU{margin-bottom: 3px; margin-top: 0px;}
#conProd p.cPM{margin-bottom: 3px; margin-top: 0px;}

#tipoNac{position:absolute; overflow: hidden; margin-top: 980px; margin-left: 48.55em; font: bold 11px 'Arial';z-index: 5;}
#tipoNac p.tNE{margin-bottom: 0px; margin-top: 0px;}
#tipoNac p.tND{margin-bottom: 2px; margin-top: 0px;}
#tipoNac p.tNC{margin-bottom: 1px; margin-top: 0px;}

#plaFam{position:absolute; overflow: hidden; margin-top: 981px; margin-left: 58.15em; font: bold 11px 'Arial';z-index: 5;}
#plaFam p.pFDiu{margin-bottom: 0px; margin-top: 0px;}
#plaFam p.pFHor{margin-bottom: 1px; margin-top: 0px;}
#plaFam p.pFTub{margin-bottom: 1px; margin-top: 0px;}
#plaFam p.pFNo{margin-left: 7.4em;margin-bottom: 0px; margin-top: 0px;}
#plaFam p.pFOtro{margin-left: 7.4em;margin-bottom: 2px; margin-top: 0px;}
#plaFam p.pFImp{margin-left: 7.4em;margin-bottom: 1px; margin-top: 0px;}

#pesoProd{position:absolute; overflow: hidden; margin-top: 1102px; margin-left: 6em; font: bold 11px 'Arial';z-index: 5;}
#pesoProd p.pP1{margin-bottom: 3px; margin-top: 0px;}
#pesoProd p.pP2{margin-bottom: 4px; margin-top: 0px;}
#pesoProd p.pP3{margin-bottom: 2px; margin-top: 0px;}

#sexoProd{position:absolute; overflow: hidden; margin-top: 1102px; margin-left: 12em; font: bold 11px 'Arial';z-index: 5;}
#sexoProd p.sMP1{margin-bottom: 3px; margin-top: 0px;}
#sexoProd p.sMP2{margin-bottom: 4px; margin-top: 0px;}
#sexoProd p.sMP3{margin-bottom: 2px; margin-top: 0px;}
#sexoProd p.sFP1{margin-left: 3.4em;margin-bottom: 3px; margin-top: 0px;}
#sexoProd p.sFP2{margin-left: 3.4em;margin-bottom: 4px; margin-top: 0px;}
#sexoProd p.sFP3{margin-left: 3.4em;margin-bottom: 2px; margin-top: 0px;}
#sexoProd p.sNEP1{margin-left: 6.4em;margin-bottom: 3px; margin-top: 0px;}
#sexoProd p.sNEP2{margin-left: 6.4em;margin-bottom: 4px; margin-top: 0px;}
#sexoProd p.sNEP3{margin-left: 6.4em;margin-bottom: 2px; margin-top: 0px;}

#conNac{position:absolute; overflow: hidden; margin-top: 1102px; margin-left: 22.2em; font: bold 11px 'Arial';z-index: 5;}
#conNac p.cNMF1{margin-bottom: 3px; margin-top: 0px;}
#conNac p.cNMF2{margin-bottom: 4px; margin-top: 0px;}
#conNac p.cNMF3{margin-bottom: 2px; margin-top: 0px;}
#conNac p.cNNV1{margin-left: 3.5em;margin-bottom: 3px; margin-top: 0px;}
#conNac p.cNNV2{margin-left: 3.5em;margin-bottom: 4px; margin-top: 0px;}
#conNac p.cNNV3{margin-left: 3.5em;margin-bottom: 2px; margin-top: 0px;}

#folioNac{position:absolute; overflow: hidden; margin-top: 1101px; margin-left: 29.1em; font: bold 11px 'Arial';letter-spacing: 0.6em;z-index: 5;}
#folioNac p.folNacP1{margin-bottom: 3px; margin-top: 0px;}
#folioNac p.folNacP2{margin-bottom: 3px; margin-top: 0px;}
#folioNac p.folNacP3{margin-bottom: 2px; margin-top: 0px;}

#apgarProd{position:absolute; overflow: hidden; margin-top: 1102px; margin-left: 41.2em; font: bold 11px 'Arial';letter-spacing: 0.1em;z-index: 5;}
#apgarProd p.apgarP1{margin-bottom: 3px; margin-top: 0px;}
#apgarProd p.apgarP2{margin-bottom: 3px; margin-top: 0px;}
#apgarProd p.apgarP3{margin-bottom: 2px; margin-top: 0px;}

#reaNeoPro{position:absolute; overflow: hidden; margin-top: 1102px; margin-left: 44.4em; font: bold 11px 'Arial';z-index: 5;}
#reaNeoPro p.rNeoP1S{margin-bottom: 3px; margin-top: 0px;}
#reaNeoPro p.rNeoP2S{margin-bottom: 4px; margin-top: 0px;}
#reaNeoPro p.rNeoP3S{margin-bottom: 2px; margin-top: 0px;}
#reaNeoPro p.rNeoP1N{margin-left: 3.5em;margin-bottom: 3px; margin-top: 0px;}
#reaNeoPro p.rNeoP2N{margin-left: 3.5em;margin-bottom: 4px; margin-top: 0px;}
#reaNeoPro p.rNeoP3N{margin-left: 3.5em;margin-bottom: 2px; margin-top: 0px;}

#estCunPro{position:absolute; overflow: hidden; margin-top: 1102px; margin-left: 50.5em; font: bold 11px 'Arial';z-index: 5;}
#estCunPro p.esCuP1{margin-bottom: 3px; margin-top: 0px;}
#estCunPro p.esCuP2{margin-bottom: 4px; margin-top: 0px;}
#estCunPro p.esCuP3{margin-bottom: 2px; margin-top: 0px;}

#conNacidoProd{position:absolute; overflow: hidden; margin-top: 1102px; margin-left: 55.7em; font: bold 11px 'Arial';z-index: 5;}
#conNacidoProd p.cNacVAP1{margin-bottom: 3px; margin-top: 0px;}
#conNacidoProd p.cNacVAP2{margin-bottom: 4px; margin-top: 0px;}
#conNacidoProd p.cNacVAP3{margin-bottom: 2px; margin-top: 0px;}
#conNacidoProd p.cNacVHP1{margin-left: 5em;margin-bottom: 3px; margin-top: 0px;}
#conNacidoProd p.cNacVHP2{margin-left: 5em;margin-bottom: 4px; margin-top: 0px;}
#conNacidoProd p.cNacVHP3{margin-left: 5em;margin-bottom: 2px; margin-top: 0px;}
#conNacidoProd p.cNacMP1{margin-left: 8.6em;margin-bottom: 3px; margin-top: 0px;}
#conNacidoProd p.cNacMP2{margin-left: 8.6em;margin-bottom: 4px; margin-top: 0px;}
#conNacidoProd p.cNacMP3{margin-left: 8.6em;margin-bottom: 2px; margin-top: 0px;}

#afeLesion{position:absolute; overflow: hidden; margin-top: 113px; margin-left: 7.5em; margin-right: 12.5em;font: bold 8px 'Arial';z-index: 5;}
#afeLesion p.afeLes{margin-bottom: 7px; margin-top: 5px;}

#claAfeLesion{position:absolute; overflow: hidden; margin-top: 104px; margin-left: 59.8em; font: bold 11px 'Arial';letter-spacing: 1em;z-index: 5;}
#claAfeLesion p.afeLes{margin-bottom: 7px; margin-top: 3px;}

#intenLesion{position:absolute; overflow: hidden; margin-top: 156px; margin-left: 17.6em; font: bold 11px 'Arial';z-index: 5;}
#intenLesion p.inLes1{margin-bottom: 8px; margin-top: 3px;}
#intenLesion p.inLes2{margin-bottom: 9px; margin-top: 3px;}
#intenLesion p.inLes3{margin-bottom: 9px; margin-top: 3px;}
#intenLesion p.inLes4{margin-bottom: 8px; margin-top: 3px;}
#intenLesion p.inLes5{margin-bottom: 7px; margin-top: 3px;}

#sitOcuLesion{position:absolute; overflow: hidden; margin-top: 156px; margin-left: 38.5em; font: bold 11px 'Arial';z-index: 5;}
#sitOcuLesion p.soLesV{margin-bottom: 7px; margin-top: 3px;}
#sitOcuLesion p.soLesI{margin-bottom: 17px; margin-top: 3px;}
#sitOcuLesion p.soLesE{margin-bottom: 4px; margin-top: 3px;}
#sitOcuLesion p.soLesA{margin-bottom: 5px; margin-top: 3px;}
#sitOcuLesion p.soLesC{margin-bottom: 7px; margin-top: 3px;}
#sitOcuLesion p.soLesO{margin-left: 25.15em;margin-bottom: 6px; margin-top: 3px;}
#sitOcuLesion p.soLesR{margin-left: 25.15em;margin-bottom: 7px; margin-top: 3px;}
#sitOcuLesion p.soLesG{margin-left: 25.15em;margin-bottom: 6px; margin-top: 3px;}
#sitOcuLesion p.soLesT{margin-left: 25.15em;margin-bottom: 8px; margin-top: 3px;}
#sitOcuLesion p.soLesL{margin-left: 25.15em;margin-bottom: 7px; margin-top: 3px;}

#hpTipoUnidad{position:absolute; overflow: hidden; margin-top: 344px; margin-left: 20.4em; font: bold 11px 'Arial';z-index: 5;}
#hpTipoUnidad p.hptuC{margin-bottom: 46px; margin-top: 3px;}
#hpTipoUnidad p.hptuP{margin-bottom: 45px; margin-top: 3px;}
#hpTipoUnidad p.hptuE{margin-bottom: 10px; margin-top: 3px;}

#hpSerContinuo{position:absolute; overflow: hidden; margin-top: 285px; margin-left: 38.9em; font: bold 11px 'Arial';z-index: 5;}
#hpSerContinuo p.hpCS1{margin-bottom: 3px; margin-top: 3px;}
#hpSerContinuo p.hpCS2{margin-bottom: 4px; margin-top: 3px;}
#hpSerContinuo p.hpCS3{margin-bottom: 4px; margin-top: 3px;}
#hpSerContinuo p.hpCS4{margin-bottom: 3px; margin-top: 3px;}
#hpSerContinuo p.hpCS5{margin-bottom: 3px; margin-top: 3px;}
#hpSerContinuo p.hpCS6{margin-bottom: 3px; margin-top: 3px;}
#hpSerContinuo p.hpCS7{margin-bottom: 10px; margin-top: 3px;}

#hpSerParcial{position:absolute; overflow: hidden; margin-top: 365px; margin-left: 53.95em; font: bold 11px 'Arial';z-index: 5;}
#hpSerParcial p.hpPS1{margin-bottom: 3px; margin-top: 3px;}
#hpSerParcial p.hpPS2{margin-bottom: 3px; margin-top: 3px;}
#hpSerParcial p.hpPS3{margin-bottom: 3px; margin-top: 3px;}
#hpSerParcial p.hpPS4{margin-bottom: 3px; margin-top: 3px;}
#hpSerParcial p.hpPS5{margin-bottom: 3px; margin-top: 3px;}

#nomMedico{position:absolute; overflow: hidden; margin-top: 1023px; margin-left: 17.7em; font: bold 11px 'Arial';z-index: 5;}